# Data Preprocessing

In [ ]:
import pandas as pd
import numpy as np

# 1. LOAD DATA

In [ ]:
df = pd.read_excel('Loan_Data.xlsx', header=3)
df.columns = df.columns.str.strip()
df.head(3)

,ණය වර්ගය,ණය අංකය,නම,කල් පසු වී ඇත / නැත,ගත් ක්‍රියා මාර්ගය,කෘ ප. නි. ස. නිලධාරීවරයෙකු ඇත/ නැත,කොට්ඨාසය,ණය මුදල,ජනවාරි අයවීම්,පෙබරවාරි අයවීම්,...,අප්‍රේල් අයවීම්,මැයි අයවීම්,ජුනි අයවීම්,ජූලි අයවීම්,අගෝස්තු අයවීම්,සැප්තැම්බර් අයවීම්,ඔක්තොබර් අයවීම්,නොවැම්බර් අයවීම්,දෙසැම්බර් අයවීම්,හිග ශේෂය
0,2025 මහ කන්නය,202508-001,ඒ. එච්. එම්. ජයකොඩි,නැත,නැත,නැත,තළාකොළවැව,50000,0,40000,...,0,0,10000,0,0,0,0,0,0,0
1,2025 මහ කන්නය,202508-002,එච්. එම්. පියරත්න,නැත,නැත,නැත,තළාකොළවැව,50000,0,0,...,0,14486,0,0,0,14486,0,0,0,0
2,2025 මහ කන්නය,202508-003,පිී. එච්. ඉන්ද්‍රානී බාලසූරිය,නැත,නැත,ඇත,තෝනිගල,20000,0,0,...,0,20000,0,0,0,0,0,0,0,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 21 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ණය වර්ගය                            296 non-null    object
 1   ණය අංකය                             296 non-null    object
 2   නම                                  296 non-null    object
 3   කල් පසු වී ඇත / නැත                 296 non-null    object
 4   ගත් ක්‍රියා මාර්ගය                  296 non-null    object
 5   කෘ ප. නි. ස. නිලධාරීවරයෙකු ඇත/ නැත  296 non-null    object
 6   කොට්ඨාසය                            296 non-null    object
 7   ණය මුදල                             297 non-null    int64
 8   ජනවාරි අයවීම්                       297 non-null    int64
 9   පෙබරවාරි අයවීම්                     297 non-null    int64
 10  මාර්තු අයවීම්                       297 non-null    int64
 11  අප්‍රේල් අයවීම්                     297 non-null    int64
 12  මැයි අයවීම්                         297 non-null    int64
 13  ජුනි අයවීම්                         297 non-null    int64
 14  ජූලි අයවීම්                         297 non-null    int64
 15  අගෝස්තු අයවීම්                      297 non-null    int64
 16  සැප්තැම්බර් අයවීම්                  297 non-null    int64
 17  ඔක්තොබර් අයවීම්                     297 non-null    int64
 18  නොවැම්බර් අයවීම්                    297 non-null    int64
 19  දෙසැම්බර් අයවීම්                    297 non-null    int64
 20  හිග ශේෂය                            297 non-null    int64
dtypes: int64(14), object(7)
memory usage: 48.9+ KB

In [ ]:
df.tail(3)

,ණය වර්ගය,ණය අංකය,නම,කල් පසු වී ඇත / නැත,ගත් ක්‍රියා මාර්ගය,කෘ ප. නි. ස. නිලධාරීවරයෙකු ඇත/ නැත,කොට්ඨාසය,ණය මුදල,ජනවාරි අයවීම්,පෙබරවාරි අයවීම්,...,අප්‍රේල් අයවීම්,මැයි අයවීම්,ජුනි අයවීම්,ජූලි අයවීම්,අගෝස්තු අයවීම්,සැප්තැම්බර් අයවීම්,ඔක්තොබර් අයවීම්,නොවැම්බර් අයවීම්,දෙසැම්බර් අයවීම්,හිග ශේෂය
294,2025 මහ කන්නය,202508-295,එම්. පී. කීර්තිපාල,ඇත,විනිශ්‍ය සභා,ඇත,උප්පලවත්ත,100000,0,0,...,0,0,0,0,0,0,0,0,0,100000
295,2025 මහ කන්නය,202508-296,ඩබ්. සුරංග බොනිපස් පෙරේරා,නැත,නැත,ඇත,උප්පලවත්ත,100000,0,0,...,38000,0,0,12000,0,0,50000,0,0,0
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26869500,688137,683897,...,1558702,1630562,1370724,1319812,4074807,2271272,3473568,2640439,1283083,4347229

In [ ]:
df.tail(2)

,ණය වර්ගය,ණය අංකය,නම,කල් පසු වී ඇත / නැත,ගත් ක්‍රියා මාර්ගය,කෘ ප. නි. ස. නිලධාරීවරයෙකු ඇත/ නැත,කොට්ඨාසය,ණය මුදල,ජනවාරි අයවීම්,පෙබරවාරි අයවීම්,...,අප්‍රේල් අයවීම්,මැයි අයවීම්,ජුනි අයවීම්,ජූලි අයවීම්,අගෝස්තු අයවීම්,සැප්තැම්බර් අයවීම්,ඔක්තොබර් අයවීම්,නොවැම්බර් අයවීම්,දෙසැම්බර් අයවීම්,හිග ශේෂය
295,2025 මහ කන්නය,202508-296,ඩබ්. සුරංග බොනිපස් පෙරේරා,නැත,නැත,ඇත,උප්පලවත්ත,100000,0,0,...,38000,0,0,12000,0,0,50000,0,0,0
296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26869500,688137,683897,...,1558702,1630562,1370724,1319812,4074807,2271272,3473568,2640439,1283083,4347229

# 2.Data Preprocessing


 Define the Mapping Dictionary for Months
* Why: Mapping Sinhala month names to English enables compatibility with ML tools like SHAP and Matplotlib.
* Result: Your dataset will have standardized column names recognized globally.

In [ ]:
# 2. Define English Translation Mapping
column_map = {
    'ණය වර්ගය': 'Loan_Type',
    'කල් පසු වී ඇත / නැත': 'Overdue_Status',
    'ගත් ක්‍රියා මාර්ගය': 'Action_Taken',
    'කෘ ප. නි. ස. නිලධාරීවරයෙකු ඇත/ නැත': 'Officer_Assigned',
    'කොට්ඨාසය': 'Division',
    'ණය මුදල': 'Loan_Amount',
    'ජනවාරි අයවීම්': 'Jan_Recovery',
    'පෙබරවාරි අයවීම්': 'Feb_Recovery',
    'මාර්තු අයවීම්': 'Mar_Recovery',
    'අප්‍රේල් අයවීම්': 'Apr_Recovery',
    'මැයි අයවීම්': 'May_Recovery',
    'ජුනි අයවීම්': 'Jun_Recovery',
    'ජූලි අයවීම්': 'Jul_Recovery',
    'අගෝස්තු අයවීම්': 'Aug_Recovery',
    'සැප්තැම්බර් අයවීම්': 'Sep_Recovery',
    'ඔක්තොබර් අයවීම්': 'Oct_Recovery',
    'නොවැම්බර් අයවීම්': 'Nov_Recovery',
    'දෙසැම්බර් අයවීම්': 'Dec_Recovery',
    'හිග ශේෂය': 'Outstanding_Balance',

}

# 3. Rename and Drop PII (Ethics Requirement)
df_translated = df.rename(columns=column_map)
df_translated = df_translated.drop(columns=['නම', 'ණය අංකය'], errors='ignore')

# 4. Map Sinhala values to English
val_map = {'නැත': 'No', 'ඇත': 'Yes' , 'විනිශ්‍ය සභා': 'Adjudication_Board'}
cols_to_fix = ['Overdue_Status', 'Action_Taken', 'Officer_Assigned']
for col in cols_to_fix:
    df_translated[col] = df_translated[col].map(val_map).fillna(df_translated[col])

In [ ]:
df_translated.head()

,Loan_Type,Overdue_Status,Action_Taken,Officer_Assigned,Division,Loan_Amount,Jan_Recovery,Feb_Recovery,Mar_Recovery,Apr_Recovery,May_Recovery,Jun_Recovery,Jul_Recovery,Aug_Recovery,Sep_Recovery,Oct_Recovery,Nov_Recovery,Dec_Recovery,Outstanding_Balance
0,2025 මහ කන්නය,No,No,No,තළාකොළවැව,50000,0,40000,0,0,0,10000,0,0,0,0,0,0,0
1,2025 මහ කන්නය,No,No,No,තළාකොළවැව,50000,0,0,21028,0,14486,0,0,0,14486,0,0,0,0
2,2025 මහ කන්නය,No,No,Yes,තෝනිගල,20000,0,0,0,0,20000,0,0,0,0,0,0,0,0
3,2025 මහ කන්නය,No,No,Yes,තෝනිගල,25000,0,0,0,0,25000,0,0,0,0,0,0,0,0
4,2025 මහ කන්නය,No,No,Yes,පෙරියකුලම,100000,0,0,0,0,0,0,0,0,40000,0,50000,10000,0

In [ ]:
# Remove unwanted row
df_translated = df_translated.drop(df_translated.index[-1])

In [ ]:
df_translated.tail(2)

,Loan_Type,Overdue_Status,Action_Taken,Officer_Assigned,Division,Loan_Amount,Jan_Recovery,Feb_Recovery,Mar_Recovery,Apr_Recovery,May_Recovery,Jun_Recovery,Jul_Recovery,Aug_Recovery,Sep_Recovery,Oct_Recovery,Nov_Recovery,Dec_Recovery,Outstanding_Balance
294,2025 මහ කන්නය,Yes,Adjudication_Board,Yes,උප්පලවත්ත,100000,0,0,0,0,0,0,0,0,0,0,0,0,100000
295,2025 මහ කන්නය,No,No,Yes,උප්පලවත්ත,100000,0,0,0,38000,0,0,12000,0,0,50000,0,0,0

In [ ]:
# 'මහ' refers to the 'Maha' season, and 'යල' refers to 'Yala' season in Sri Lankan agriculture.
loan_type_map = {
    '2025 මහ කන්නය': '2024_Maha_season'
}
df_translated['Loan_Type'] = df_translated['Loan_Type'].map(loan_type_map).fillna(df_translated['Loan_Type'])

In [ ]:
df_translated.head(5)

,Loan_Type,Overdue_Status,Action_Taken,Officer_Assigned,Division,Loan_Amount,Jan_Recovery,Feb_Recovery,Mar_Recovery,Apr_Recovery,May_Recovery,Jun_Recovery,Jul_Recovery,Aug_Recovery,Sep_Recovery,Oct_Recovery,Nov_Recovery,Dec_Recovery,Outstanding_Balance
0,2024_Maha_season,No,No,No,තළාකොළවැව,50000,0,40000,0,0,0,10000,0,0,0,0,0,0,0
1,2024_Maha_season,No,No,No,තළාකොළවැව,50000,0,0,21028,0,14486,0,0,0,14486,0,0,0,0
2,2024_Maha_season,No,No,Yes,තෝනිගල,20000,0,0,0,0,20000,0,0,0,0,0,0,0,0
3,2024_Maha_season,No,No,Yes,තෝනිගල,25000,0,0,0,0,25000,0,0,0,0,0,0,0,0
4,2024_Maha_season,No,No,Yes,පෙරියකුලම,100000,0,0,0,0,0,0,0,0,40000,0,50000,10000,0

In [ ]:
# 1. EXTRACT UNIQUE NAMES
# Why: To identify all unique geographical areas without duplicates for translation.
# Result: A clean list of every unique division in your Sri Lankan dataset.
unique_divisions = df_translated['Division'].unique().tolist()

# Remove NaN values before sorting
unique_divisions = [div for div in unique_divisions if pd.notna(div)]

# 2. SORT AND PRINT
# Why: Sorting makes it easier to verify the names in your report.
unique_divisions.sort()

print(f"Total Unique Divisions: {len(unique_divisions)}")
print("--- Full Division List ---")
for div in unique_divisions:
    print(div)

Total Unique Divisions: 22
--- Full Division List ---
උප්පලවත්ත
ඌරියාව
කරඹෑව
කොතළකෙමියාව
ගල්ලෑව
ජනපදය I
ජනපදය II
තට්ටෑව
තම්මැන්නාගම
තළාකොළවැව
තෝනිගල
දිවුල්වැව
ධර්මපාලය
පාලියාගම
පෙරියකුලම
බම්මන්නේගම
ලබුගල
වඩත්ත
විහාරගම
සංඝට්ටිකුලම
සියඹලාගස්හේන
හ/පාලියාගම

In [ ]:
unique_divisions = df_translated["Division"].unique().tolist()

# Remove NaN / empty values
unique_divisions = [
    d for d in unique_divisions
    if pd.notna(d) and d != "" and d.lower() != "nan"
]

unique_divisions.sort()

print(f"Total Unique Divisions: {len(unique_divisions)}")

Total Unique Divisions: 22

In [ ]:
from google.colab import userdata
groq_api_key = userdata.get("GROQ_API_KEY")
print("Key loaded:", groq_api_key is not None)

Key loaded: True

In [ ]:
!pip install groq

Requirement already satisfied: groq in /usr/local/lib/python3.12/dist-packages (1.0.0)
Requirement already satisfied: anyio<5,>=3.5.0 in /usr/local/lib/python3.12/dist-packages (from groq) (4.12.1)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/local/lib/python3.12/dist-packages (from groq) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /usr/local/lib/python3.12/dist-packages (from groq) (0.28.1)
Requirement already satisfied: pydantic<3,>=1.9.0 in /usr/local/lib/python3.12/dist-packages (from groq) (2.12.3)
Requirement already satisfied: sniffio in /usr/local/lib/python3.12/dist-packages (from groq) (1.3.1)
Requirement already satisfied: typing-extensions<5,>=4.10 in /usr/local/lib/python3.12/dist-packages (from groq) (4.15.0)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.12/dist-packages (from anyio<5,>=3.5.0->groq) (3.11)
Requirement already satisfied: certifi in /usr/local/lib/python3.12/dist-packages (from httpx<1,>=0.23.0->groq) (2026.1.4)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.12/dist-packages (from httpx<1,>=0.23.0->groq) (1.0.9)
Requirement already satisfied: h11>=0.16 in /usr/local/lib/python3.12/dist-packages (from httpcore==1.*->httpx<1,>=0.23.0->groq) (0.16.0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pydantic<3,>=1.9.0->groq) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.4 in /usr/local/lib/python3.12/dist-packages (from pydantic<3,>=1.9.0->groq) (2.41.4)
Requirement already satisfied: typing-inspection>=0.4.2 in /usr/local/lib/python3.12/dist-packages (from pydantic<3,>=1.9.0->groq) (0.4.2)

In [ ]:
from google.colab import userdata
from groq import Groq
groq_api_key = userdata.get("GROQ_API_KEY")
client = Groq(api_key=groq_api_key)
import time

In [ ]:
def translate_division_llm(sinhala_name):
    prompt = f"""
Translate the following Sri Lankan administrative division name
from Sinhala to proper English.

Return ONLY the English name.
Do not explain.

Sinhala: {sinhala_name}
"""
    response = client.chat.completions.create(
          model="llama-3.1-8b-instant",  # updated working model
          messages=[{"role": "user", "content": prompt}],
          temperature=0.0
    )
    return response.choices[0].message.content.strip()

In [ ]:
division_map = {}   # Sinhala → English
logs = []

for div in unique_divisions:
    if div not in division_map:
        try:
            english = translate_division_llm(div)
            division_map[div] = english

            logs.append({
                "Sinhala": div,
                "English": english
            })

            print(f"{div}  →  {english}")
            time.sleep(0.5)  # be polite to free API

        except Exception as e:
            division_map[div] = "Unknown"
            print(f"ERROR for {div}: {e}")

උප්පලවත්ත  →  Uppalawatta
ඌරියාව  →  Uriyawa
කරඹෑව  →  Karambavila
කොතළකෙමියාව  →  Kotmale Divisional Secretariat
ගල්ලෑව  →  Gallawa
ජනපදය I  →  Janapada Iya
ජනපදය II  →  Divisional Secretariat
තට්ටෑව  →  Tattewa
තම්මැන්නාගම  →  Thambammanneegama
තළාකොළවැව  →  Talawakelle
තෝනිගල  →  Thonigala
දිවුල්වැව  →  Divulwewa
ධර්මපාලය  →  Dharmapala
පාලියාගම  →  Paliyagama
පෙරියකුලම  →  Periyakulam
බම්මන්නේගම  →  Bammanneegama
ලබුගල  →  Labugama
වඩත්ත  →  Vadatta
විහාරගම  →  Vihara Gama
සංඝට්ටිකුලම  →  Sanhittikulama
සියඹලාගස්හේන  →  Siyambalagashena
හ/පාලියාගම  →  Hapalagama

In [ ]:
df_translated["Division"] = (
    df_translated["Division"]
    .map(division_map)
    .fillna("Unknown")
)

In [ ]:
df_translated.head()

,Loan_Type,Overdue_Status,Action_Taken,Officer_Assigned,Division,Loan_Amount,Jan_Recovery,Feb_Recovery,Mar_Recovery,Apr_Recovery,May_Recovery,Jun_Recovery,Jul_Recovery,Aug_Recovery,Sep_Recovery,Oct_Recovery,Nov_Recovery,Dec_Recovery,Outstanding_Balance
0,2024_Maha_season,No,No,No,Talawakelle,50000,0,40000,0,0,0,10000,0,0,0,0,0,0,0
1,2024_Maha_season,No,No,No,Talawakelle,50000,0,0,21028,0,14486,0,0,0,14486,0,0,0,0
2,2024_Maha_season,No,No,Yes,Thonigala,20000,0,0,0,0,20000,0,0,0,0,0,0,0,0
3,2024_Maha_season,No,No,Yes,Thonigala,25000,0,0,0,0,25000,0,0,0,0,0,0,0,0
4,2024_Maha_season,No,No,Yes,Periyakulam,100000,0,0,0,0,0,0,0,0,40000,0,50000,10000,0

In [ ]:
df_translated.to_csv("1_processed_loan_data.csv", index=False)